<section class="section-wrapper-{{ section.id }}">
    {% for block in section.blocks %}
        {% case block.type %}
            {% when "" %}
                  
        {% endcase %}
    {% endfor %}
</section>

<style>
    .section-wrapper-{{ section.id }} {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    {% for block in section.blocks %}
        {% case block.type %}
            {% when "" %}
                
           
                
        {% endcase %}
    {% endfor %}
</style>

{% schema %}
    {
        "name": "Two Column Section",
        "blocks": [
            
        ]

    }
{% endschema %}